.scrollbars-override {
	/* these all need to be !important to override the original elements style */
	overflow: scroll !important;
	position: absolute !important;
	width: auto !important;
	height: auto !important;
	border-width: 0 !important;
	margin: 0 !important;
}
.scrollbars-handle {
	position: absolute;
	right: 2px;
	bottom: 2px;
	z-index: 100;
	border-radius: 3px;
	background: #888;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
}
.scrollbars-handle.show {
	visibility: visible;
	opacity: 0.8;
	transition: opacity 0.5s;
}
.scrollbars-handle.vertical {
	top: 2px;
	width: 6px;
}
.scrollbars-handle.horizontal {
	left: 2px;
	height: 6px;
}

